body {
	font-family: 'Roboto';
	background-color: black;
	color: white;
	margin, padding: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 1em;
	box-shadow: 1px 1px rgba(0,0,0,.1);
	margin-bottom: 10px;
	font-weight: bold;
}

.resp {
   /*width: 100vmin;
   height: 100vmin;*/
   width: 100vw;
   box-shadow: 5px 5px 5px grey;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

p, label, input, li{
	font-size: calc(9px + 1vw);
}
input{
	padding-left: 2px;
}

input:focus {
	outline: 3px solid orange;
}

::placeholder{
	font-size: calc(9px + 1vw);
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.4em;
}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
